{% extends "main.html" %}
{% block content %}
{% if authenticated %}
	{% include "header_authenticated.html" %}
{% else %}
	{% include "header_notauthenticated.html" %}
{% endif %}
	
<div class="row">
	<div class="col-md-12">
		<div class="menu-item">
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>
			<a href='{{url_for('editMenuItem', catalog_name = catalog.name, item_name=item.name ) }}'>Edit</a> | 
			<a href='{{url_for('deleteMenuItem', catalog_name = catalog.name, item_name=item.name ) }}'>Delete</a>
		</div>
	</div>
</div>
{% endblock %}
